.container {
  composes: centeredContainer from 'sharedStyles/styles.css';
}

.title {
  composes: largeHeader from 'sharedStyles/styles.css';
}

.slogan {
  composes: subHeader from 'sharedStyles/styles.css';
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}